{% extends 'template.html.twig' %}
{% block title %}
    show list participant
{% endblock %}

{% block content %}
    <div class="row mx-auto">
    <div class="col-8 offset-2">
        <h1>show Participants</h1>
    </div>
    {% if Listeepreuves|length != 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">categorie</th>
                <th scope="col">profil</th>
                <th scope="col">epreuve</th>
                <th scop="col">photo</th>


            </tr>
            {% for epreuve in Listeepreuves|slice(0,1) %}
                <div class="col-6 offset-3">
                    <form action="http://localhost/www/ChampionnatDeSki/epreuve/export/{{ epreuve.epreuves_id}}" method="post"
                          name="frmCSVImport" id="frmCSVImport" class="form-horizontal">
                        <input type="submit" class="btn btn-success" value="Importer" />
                    </form>
                </div>
            {% endfor %}

            {% for participant in Listeepreuves %}

            <tbody>
            <tr>
                <th scope="row">{{ participant.participants_id }}</th>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.nom_categorie }}</td>
                <td>{{ participant.nom_profil }}</td>
                <td>{{ participant.epreuves_id }}</td>
                <td>
                    <img class="picParticipant" src="http://localhost/www/ChampionnatDeSki/assets/imgProf/{{ participant.photo }}"  alt="Avatar" style="width: 100px">
                </td>
                <td>
                    <a class="nav-link" href="http://localhost/www/ChampionnatDeSki/participant/supp/{{ participant.id }}/{{ participant.epreuves_id }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
            </thead>
        </table>
        <div class="col-6 offset-3">
            <form method="post" enctype="multipart/form-data" action="http://localhost/www/ChampionnatDeSki/epreuve/importdata">
                <div class="form-inline mt-2">
                    <label for="file" class="col-1 text-right "></label>
                    <input class="btn btn-success col-4" type="file" name="file"
                           id="file" required minlength="4" value="Import" />

                    <input type="submit" class="btn btn-success col-4 offset-3"
                           value="Télécharger" />
                </div>

            </form>
        </div>

    {% else %}
        hi
    {% endif %}
{% endblock %}