{% extends 'template.html.twig' %}
{% block title %}
    show participants
{% endblock %}

{% block content %}
    <div class="row mx-auto">
        <div class="col-8 offset-2">
            <h1>show Participants</h1>
        </div>
    {% if Listeparticipants|length != 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">categorie</th>
                <th scope="col">profil</th>
                <th scope="col">photo</th>

            </tr>

            {% for participant in Listeparticipants %}
            <tbody>
            <tr>
                <th scope="row">{{ participant.id }}</th>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.categories }}</td>
                <td>{{ participant.profils }}</td>
                <td>
                    <img class="picParticipant" src="http://localhost/www/ChampionnatDeSki/assets/imgProf/{{ participant.photo }}"  alt="Avatar" style="width: 100px">
                </td>
            </tr>
            </tbody>
            {% endfor %}
            </thead>
        </table>
    <div class="col-6 offset-3">
        <form method="post" enctype="multipart/form-data" action="http://localhost/www/ChampionnatDeSki/participant/import">
            <div class="form-inline mt-2">
                <label for="file" class="col-1 text-right "></label>
                <input class="btn btn-success col-4" type="file" name="file"
                       id="file" required minlength="4" value="Import" />

                <input type="submit" class="btn btn-success col-4 offset-3"
                       value="Télécharger" />
            </div>

        </form>
    </div>

    {% else %}
        <div class="col-8 offset-2">
            <h1>Aucun participant disponible</h1>
            <p>ajouter un participant</p>
            <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/participant/addpage" role="button">Ajouter</a>
        </div>
    {% endif %}
{% endblock %}